[Unit]
Description=argos streaming service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/argos
ExecStart=/home/pi/argos-venv/bin/python /home/pi/argos/stream.py --ip 0.0.0.0 --port 8081 --config configs.your_config
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target